*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1408px;
    padding: 0 16px;
    margin: 0 auto;
}

body{
    min-height: 500vh;
}

/* 1440 */

.container{
    max-width: 1440px;
    margin: 0 auto;
    width: calc(100% - 32px);
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.card{
    width: 280px;
    padding: 14px;
    border: 1px solid #ddd;
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
}
